# The Caddyfile is an easy way to configure your Caddy web server.

#

# Unless the file starts with a global options block, the first

# uncommented line is always the address of your site.

#

# To use your own domain name (with automatic HTTPS), first make

# sure your domain's A/AAAA DNS records are properly pointed to

# this machine's public IP, then replace ":80" below with your

# domain name.

fjs.app {
	root * /var/www/fjs.app
	file_server
}

adsb.fjs.app {
	root * /var/www/adsb.fjs.app
	file_server
}

advice.fjs.app {
	root * /var/www/advice.fjs.app
	file_server
}

flashcards.fjs.app {
	root * /var/www/flashcards.fjs.app
	file_server
}

datecounter.fjs.app {
	root * /var/www/datecounter.fjs.app
	file_server
}
poly.fjs.app {
	root * /var/www/poly.fjs.app
	file_server
}

dateadd.fjs.app {
	root * /var/www/dateadd.fjs.app
	file_server
}

datediff.fjs.app {
	root * /var/www/datediff.fjs.app
	file_server
}

wifiqr.fjs.app {
	root * /var/www/wifiqr.fjs.app
	file_server
}

# Refer to the Caddy docs for more information:

# https://caddyserver.com/docs/caddyfile
